<mat-toolbar color="primary">
  <a mat-button style="margin: 5px;" routerLink="/">Hearts Multiplayer</a>
  <a mat-button style="margin: 5px;" routerLink="/scoreboard">Scoreboard</a>
  <a mat-button style="margin: 5px;" routerLink="/history">Games History</a>
  <a mat-button style="margin: 5px;" routerLink="/home/about">About</a>
  <span class="example-spacer"></span>

  <div style="display: flex;">
    <div *ngIf="userService.isLoggedIn">
      {{userService.user?.username}}
    </div>
    <button *ngIf="userService.isLoggedIn" mat-raised-button style="margin-left: 15px" (click)="logout()">
      Logout
    </button>
    <button *ngIf="!userService.isLoggedIn" mat-raised-button routerLink="/auth/login">
      Login
    </button>
  </div>

</mat-toolbar>
