.mat-header-row {
  background-color : #c2185b;
}

th {
  font-size : 1.15rem;
  color     : beige;
}

.mat-column-username {
  text-align : center;
  padding    : 5px;
}

.mat-column-nickname {
  text-align : center;
  padding    : 5px;
}

.mat-column-win {
  text-align : center;
  padding    : 5px;
}

.mat-column-lost {
  text-align : center;
  padding    : 5px;
}


.mat-column-averagePlacement {
  text-align : center;
  padding    : 5px;
}

.mat-column-pointsTakenPerGame {
  text-align : center;
  padding    : 5px;
}

